*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.time-container{
  font-size: 11px;
}

span{
  font-weight: bold;
  margin-right: 5px;
}

.full-game-container{
  background-color: rgb(8, 8, 8);
  color: antiquewhite;
  margin: 25px auto;
  padding: 20px;
  width: 660px;
  max-width: 100%;
  height: 500px;
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-page-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
}

.main-menu-grid-container, .locations-grid-container, .casino-grid-container, .phone-menu-grid-container, .investment-grid-container{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: rgb(44, 41, 41);
  color: black;
  border: 3px solid gainsboro;
  width: 80%;
  height: 80%;
  padding: 30px 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 140px);
  gap: 15px;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
}

.menu-grid-items{
  width: 80%;
  height: 100px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: rgb(185, 182, 182);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

figure{
  width: 100%;
  height: 100%;
}
figure img{
  width: 100%;
  margin: 0 auto;
  height: 80%;
}

figcaption{
  height: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 9px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
}

.menu-grid-items:hover{
  background-color: rgb(61, 78, 72);
  color: white;
  cursor: pointer;
}

.guessing-game-container{
  width: 80%;
  height: 80%;
  position: absolute;
  padding: 25px;
  text-align: center;
  background-color: aliceblue;
  color: black;
}

.crypto-invest-container{
  width: 80%;
  height: 80%;
  position: absolute;
  padding: 25px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: black;
}

.crypto-balance-add-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.labels{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 0;
  margin-bottom: 8px;
  box-sizing: border-box;
}
.coins{
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
.last-price, .per-change{
  flex: 1;
  margin-right: -10px;
  padding: 0;

}
.coin-names, .coin{
  flex: 3;
  text-align: left;
}
#latest-price{
  flex: 1;
}
#percent-changes{
  flex: 1;
  border: none;
  padding: 3px 0;
  border-radius: 5px;
  background-color: grey;
  color: white;
}

.coin-sub-name{
  font-size: 12px;
  color: grey;
}

#bte-latest-price, #maf-latest-price{
  padding-right: 15px;
}

.bte-percent-changes, .maf-percent-changes{
  padding: 4px 6px;
  width: 80px;
  border-radius: 5px;
  color: white;

}
.add-funds-button{
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(252, 197, 16);
}

.add-funds-button:hover{
  background-color: orange;
  cursor: pointer;
}

.withdraw-button{
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(2, 92, 6);
  margin-left: 10px;
  color: white;
}

.withdraw-button:hover{
  background-color: green;
  cursor: pointer;
}

.exit-button{
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  width: 25%;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(9, 17, 32);
  margin-left: 10px;
  color: white;
}
.exit-button:hover{
  cursor: pointer;
  background-color: rgb(52, 52, 97);
}
#crypto-balance{
  font-size: 30px;
}

.divider{
  border-bottom: 1px solid black;
  margin: 20px auto;
}

.play-game{
  border: none;
  background-color: brown;
  color: white;
  width: 30%;
  padding: 5px 20px;
  border-radius: 10px;
}

.inactive-menu{
  display: none;
}

.add-funds-div{
  position: absolute;
  background-color: rgb(58, 58, 58);
  width: 90%;
  height: 90%;
  color: white;
  padding: 20px;
  align-items: center;
}

.buy-coin{
  width: 40%;

}

.buy-coin input{
  padding: 3px 0 3px 10px;
}

.buy-coin button{
  padding: 5px 25px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
}